.navbar{
  background: black !important;
}

body{
  background: whitesmoke !important;
}

@media (prefers-color-scheme: dark) {
  body{
    background: #212529 !important;
  }
  .btn-dark{
    background: black !important;
  }
  

  table tr th{
    background: black !important;
  }

  html {
    color-scheme: dark;
  }
}